<ion-header>
  <ion-toolbar style="--background: #8bc53f;--color: #ffffff">
    <ion-title class="ion-text-center">Medes UI Components</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item routerLink="/templates/image-loader" button detail>
      <ion-icon slot="start" name="image-outline"></ion-icon>
      <ion-label>Image Loader</ion-label>
    </ion-item>
    <ion-item routerLink="/templates/slider-items" button detail>
      <ion-icon slot="start" name="albums-outline"></ion-icon>
      <ion-label>Images Slider</ion-label>
    </ion-item>
    <ion-item routerLink="/templates/list-items" button detail>
      <ion-icon slot="start" name="list-outline"></ion-icon>
      <ion-label>List Items</ion-label>
    </ion-item>
    <ion-item routerLink="/templates/list-items-group" button detail>
      <ion-icon slot="start" name="list-circle-outline"></ion-icon>
      <ion-label>List Items Group</ion-label>
    </ion-item>
    <ion-item routerLink="/templates/ion-card-slider" button detail>
      <ion-icon slot="start" name="browsers-outline"></ion-icon>
      <ion-label>Ionic Card Slider</ion-label>
    </ion-item>
    <ion-item routerLink="/templates/segment-slider" button detail>
      <ion-icon slot="start" name="swap-horizontal-outline"></ion-icon>
      <ion-label>Segment Tab Swipe Support</ion-label>
    </ion-item>
    <ion-item routerLink="/templates/tabs-app" button detail>
      <ion-icon slot="start" name="grid-outline"></ion-icon>
      <ion-label>Sample Nasting Tab</ion-label>
    </ion-item>
    <ion-item routerLink="/templates/demo-app" button detail>
      <ion-icon slot="start" name="phone-portrait-outline"></ion-icon>
      <ion-label>Full View on App</ion-label>
    </ion-item>
    <ion-item routerLink="/templates/mds-ui-components" button detail>
      <ion-icon slot="start" name="code-slash-outline"></ion-icon>
      <ion-label>Develpment/Ongoing</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
