<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/templates"></ion-back-button>
    </ion-buttons>
    <ion-title>Ionic Card Slider</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!------------ Ionic Card Slider ------------>
  <div class="mds-ion-card-slider slider-size-8">
    <div class="slide-title">
      <h3>Title</h3>
      <a href="">View All</a>
    </div>
    <ul class="slides">
      <li>
        <ion-card>
          <div class="mds-img-loader landscape"><img src="https://firebasestorage.googleapis.com/v0/b/media-desain.appspot.com/o/classes%2FDGN1603753882000%2Fthumb.jpg?alt=media&amp;token=f37c10b8-c08c-4b07-bc56-ff2033f6cac1"></div>
          <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
          </ion-card-header>
          <ion-card-content>Total Materi 1</ion-card-content>
        </ion-card>
      </li>
      <li>
        <ion-card>
          <div class="mds-img-loader landscape"><img src="https://firebasestorage.googleapis.com/v0/b/media-desain.appspot.com/o/classes%2FDGN1603753882000%2Fthumb.jpg?alt=media&amp;token=f37c10b8-c08c-4b07-bc56-ff2033f6cac1"></div>
          <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
          </ion-card-header>
          <ion-card-content>Total Materi 1</ion-card-content>
        </ion-card>
      </li>
      <li>
        <ion-card>
          <div class="mds-img-loader landscape"><img src="https://firebasestorage.googleapis.com/v0/b/media-desain.appspot.com/o/classes%2FDGN1603753882000%2Fthumb.jpg?alt=media&amp;token=f37c10b8-c08c-4b07-bc56-ff2033f6cac1"></div>
          <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
          </ion-card-header>
          <ion-card-content>Total Materi 1</ion-card-content>
        </ion-card>
      </li>
      <li>
        <ion-card>
          <div class="mds-img-loader landscape"><img src="https://firebasestorage.googleapis.com/v0/b/media-desain.appspot.com/o/classes%2FDGN1603753882000%2Fthumb.jpg?alt=media&amp;token=f37c10b8-c08c-4b07-bc56-ff2033f6cac1"></div>
          <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
          </ion-card-header>
          <ion-card-content>Total Materi 1</ion-card-content>
        </ion-card>
      </li>
    </ul>
  </div>
</ion-content>
